*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

/* darkest grey - used for headings */

:root {
  /* colors */

  --primary-100: #f0e3fb;
  --primary-200: #e7d1f9;
  --primary-300: #dec0f7;
  --primary-400: #d4aef4;
  --primary-500: #cb9cf2;
  --primary-600: #a680c6;
  --primary-700: #82649b;
  --primary-800: #5d486f;
  --primary-900: #392c44;
  --glassmorphism-background: rgba(184, 154, 159, 0.3);
  --glassmorphism-backdropdown: blur(8.5px);
  --glassmorphism-border: 1px solid rgba(255, 255, 255, 0.18);
  /* grey */
  --grey-50: #e3e3e3;
  --grey-100: #c4c3c3;
  --grey-200: #a5a3a3;
  --grey-300: #868383;
  --grey-400: #666363;
  --grey-500: #474343;
  --grey-600: #3b3838;
  --grey-700: #2f2c2c;
  --grey-800: #232121;
  --grey-900: #171515;
  /* rest of the colors */
  --black: #222;
  --black-lighter: #333;
  --white: #fff;

  --white-darker: #f0f0f0;
  --red-light: #f8d7da;
  --red-dark: #863239;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  /* --backgroundColor: var(--grey-50); */
  --backgroundColor: var(--black);
  --textColor: rgba(255, 255, 255, 0.4);
  --borderRadius: 0.25rem;
  --letterSpacing: 2px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1370px;
  --fixed-width: 600px;
  --view-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --headingFont: Tahoma, sans-serif;
  --bodyFont: 'Times New Roman', serif;
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--white);
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1,
.header-text-1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.1rem;
}
p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.1;
}
@media screen and (min-width: 600px) {
  h1,
  .header-text-1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  body,
  p {
    font-size: 1.15rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.15;
    letter-spacing: 2.5px;
  }
  p {
    line-height: 1.15;
    letter-spacing: 1.2px;
  }
}

@media screen and (min-width: 800px) {
  h1,
  .header-text-1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.4rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.3;
    letter-spacing: 3.5px;
  }
  p {
    line-height: 1.3;
    letter-spacing: 2px;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1192px) {
  h1,
  .header-text-1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.1rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 1.45rem;
  }
  body,
  p {
    font-size: 1.3rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.4;
    letter-spacing: 5px;
  }
  p {
    line-height: 1.4;
    letter-spacing: 3px;
  }
}

.text {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.text-lead {
  font-size: 1.3rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: transparent;
  border: 2px solid var(--primary-100);
  letter-spacing: var(--letterSpacing);
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn-filled {
  background: var(--primary-500);
}
.btn-big {
  padding: 1rem 3rem;
}
.btn-light {
  border: 3px solid var(--primary-100);
}
.btn-dark {
  border: 3px solid var(--primary-900);
  color: var(--primary-900);
}
.btn-round {
  border-radius: var(--borderRadius);
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-block {
  width: 100%;
}
/* button 'hire me' */

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
}
.section-title {
  width: fit-content;
  letter-spacing: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  text-align: center;
  color: var(--white);
}

/*  */
.section {
  width: 100%;
  padding-top: 5rem;
}
.center {
  display: grid;
  place-items: center;
}
.page-100 {
  min-height: calc(100vh - 10rem);
}
.hidden {
  display: none;
}
.section-center {
  width: 95vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.underline {
  width: 5rem;
  height: 0.3rem;
  margin-bottom: 1rem;
  background: var(--primary-500);
  margin-left: auto;
  margin-right: auto;
}
